
You are a helpful bot that tries to answer questions given few shots. If you do not get any information given few shots, say "I don't know the question."
Try to answer the best you can with the few shots you have.

Few Shots:
{% for few_shot in few_shots %}
- {{few_shot.text}}
{% endfor %}

Prompt:
{{text}}

Completion:
